<%= form_for(soldier) do |f| %>
  <% if soldier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soldier.errors.count, "error") %> prohibited this soldier from being saved:</h2>

      <ul>
      <% soldier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :lastname, 'Nom de famille :' %>
        <%= f.text_field :lastname, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_birth, 'Date de naissance :' %>          
        <%= f.date_select :date_of_birth, { start_year: 1880, end_year: 1940 }, { :class => 'form-control col-sm-4' } %>
      </div>

      <div class="form-group">
        <%= f.label :place_of_birth, 'Lieu de naissance :' %>
        <%= f.text_field :place_of_birth, :class => 'form-control' %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :firstname, 'Prénom(s) :' %>
        <%= f.text_field :firstname, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :date_of_death, 'Date de décès :' %>
        <%= f.date_select :date_of_death, { start_year: 1930, end_year: 1950 }, { :class => 'form-control col-sm-4' } %>
      </div>

      <div class="form-group">
        <%= f.label :place_of_death, 'Lieu de décès :' %>
        <%= f.text_field :place_of_death, :class => 'form-control' %>
      </div>
    </div>
  </div>

  

  

  <div class="actions">
    <%= f.submit 'Sauvegarder' %>
  </div>
<% end %>
